apiVersion: v1
kind: Service
metadata:
  name: ${name}-vm-internal
  namespace: ${namespace}
spec:
  selector:
    terraform/uuid: ${vm_uuid}
  ports:
    - protocol: TCP
      port: 22
      targetPort: 22